{% extends "bg_app/base.html" %}

{% block page_header %}
    <h3>{{ game }}</h3>
{% endblock page_header %}

{% block content %}

{% if request.user == game.owner %}
    <p>
        <a href="{% url 'bg_app:edit_game' game.id %}">Edit game</a>
    </p>
{% endif %}

<ul>
    {% for loan in loans %} 
        <div class="card mb-3">
            <h4 class="card-header">
                {{ loan.date_loaned|date:'M d, Y H:i' }}
                <small><a href="{% url 'bg_app:edit_loan' loan.id %}">
                    edit loan</a></small>
            </h4>
            <div class="card-body">
                {{ loan.loaner|linebreaks }}
            </div>
        </div>
    {% empty %}
        <p> This game is available for loaning.</p>
        <a href="{% url 'bg_app:new_loan' game.id %}">Loan game</a>
    {% endfor %}

{% endblock content %}