{% extends "bg_app/base.html" %}

{% block page_header %}
   <div class="jumbotron">
      <h1 class="display-3 text-info">Borrow your games here!</h1>

      <p class="lead">Board Games is an app which helps you to track games and their loans. 
         You are most welcome to use this app. Just click the name of the game and fill in the details. 
         Now you may borrow the game.</p>

      {% if not user.is_authenticated %}
         <a class="btn btn-lg btn-success" href="{% url 'users:register' %}"
            role="button">Register &raquo;</a>   

         <a class="btn btn-lg btn-primary" href="{% url 'users:login' %}"
            role="button">Log in &raquo;</a> 
      {% endif %}
   </div>
{% endblock page_header %}